extends layout

block content
  .dashboard-content
    h1 Agregar Producto
    form#add-product-form(action='/products' method='POST')
      .form-group
        label(for='name') Nombre del Producto
        input.form-control(type='text' id='name' name='name' required)
      
      .form-group
        label(for='description') Descripción
        textarea.form-control(id='description' name='description' rows='4' required)
      
      .form-group
        label(for='category') Categoría
        select.form-control(id='category' name='category' required)
          option(value='Perifericos') Periféricos
          option(value='Almacenamiento') Almacenamiento
          option(value='Procesadores') Procesadores
          option(value='Fuentes') Fuentes
          option(value='Equipos') Equipos
      
      .form-group
        label(for='price') Precio
        input.form-control(type='number' id='price' name='price' min='0' step='0.01' required)
      
      .form-group
        label(for='stock') Stock
        input.form-control(type='number' id='stock' name='stock' min='0' required)

      button.btn(type='submit') Agregar Producto

    a.btn.btn-primary(href='/admin/dashboard') Volver al Dashboard

  script.
    document.querySelector('#add-product-form').addEventListener('submit', function(event) {
      event.preventDefault(); // Evitar el envío por defecto del formulario

      const formData = new URLSearchParams(new FormData(this));

      fetch('/products', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: formData.toString(),
      })
      .then(response => {
        if (response.ok) {
          alert('Producto agregado con éxito'); // Notificación de éxito
          location.reload(); // Recargar la página después de agregar el producto
        } else {
          alert('Error al agregar el producto'); // Notificación de error
        }
      })
      .catch(error => {
        console.error('Error:', error);
        alert('Hubo un problema al agregar el producto');
      });
    });

