extends layout

block content
  .cart-container
    h1 Tu carrito

    if cart.length
      each item in cart
        .cart-item
          p= item.name
          p.quantity Cantidad: #{item.quantity}
          p.price Precio: $#{item.price * item.quantity}

      form(method="post", action="/orders/checkout")
        button(type="submit", class="checkout-button") Pagar
    else
      p.cart-empty Tu carrito está vacío
