extends layout
block content
  h1 Catalogo Productos
  form(method="get", action="/products")
    input(type="text", name="name", placeholder="Buscar por Nombre")
    select(name="category")
      option(value="") Todas las Categorias
      option(value="Perifericos") Perifericos
      option(value="Equipos") Equipos
      option(value="Almacenamiento") Almacenamiento
      option(value="Fuentes") Fuentes
      option(value="Procesadores") Procesadores
    button(type="submit") Buscar
  each product in products
    div.product
      h2= product.name
      p= product.description
      p Precio: $#{product.price}
