extends layout

block content
  .register-container
    h2 Registro
    form(action='/auth/register' method='POST')
      .form-group
        label(for='name') Nombre
        input.form-control(type='text' name='name' id='name' required)
      .form-group
        label(for='email') Correo
        input.form-control(type='email' name='email' id='email' required)
      .form-group
        label(for='password') Contraseña
        input.form-control(type='password' name='password' id='password' required)
      button.btn.btn-primary(type='submit') Registrarse
  
    .login-link
        p ¿Ya tenés cuenta?
        button.btn.btn-secondary(type='button' onclick="window.location.href='/auth/login'") Inicia sesión

